# This file contains common pin mappings for the Spider v1.1.
# To use this config, the firmware should be compiled for the STM32F446 with a "64KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include macros/macros.cfg]
[include hardware_cfg/hardware_cfg.cfg]
[include scripts/scripts.cfg]
[include OLD/timelapse.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0B0016001050563046363120-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300  
max_accel: 5000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5

[idle_timeout]
timeout: 1800

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[respond]

[display_status]

[force_move]
enable_force_move: True

[save_variables]
filename: ~/klipper_config/saved_variables.cfg

[exclude_object]

[gcode_arcs]
resolution: 0.1
