#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  Bed Pin - BED OUT
##  Thermistor - TB
heater_pin: PB4
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PC3
min_temp: 0
max_temp: 100
control: pid
pid_kp: 68.107
pid_ki: 1.397
pid_kd: 830.049

[screws_tilt_adjust]
screw1: 76.5, 31
screw1_name: front left screw
screw2: 233, 31
screw2_name: front right screw
screw3: 233, 200
screw3_name: rear right screw
screw4: 76.5, 200
screw4_name: rear left screw
horizontal_move_z: 10
speed: 135
screw_thread: CW-M4