# Park 15mm above center of bed
[gcode_macro PARKBED]
gcode:
	CG28 # home if not already homed
	SAVE_GCODE_STATE NAME=PARKBED
	ABSOLUTE # absolute positioning
	G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z15 F19500										
	RESTORE_GCODE_STATE NAME=PARKBED
